# Analysis of the FTM dataset on EU elections 2019
Data source : ftm.nl

In [1]:
import pandas as pd
import ipysankeywidget as sw
import ipywidgets as ipw



all_data = pd.read_stata('EUdonations1418.dta')
countries = pd.read_csv('ContryCodesAndNames.csv')
all_data = all_data.merge(countries, how='left', left_on='country', right_on='CountryID')

In [2]:
all_data.head()

,party,partynr,thinktank,year,don,name,country,org,sec1,sec2,det,sum_pcoun,sum_coun,sum_org,sum_year,id,CountryID,CountryName
0,ACRE (ND),1,0,2014,595.86,Geoffrey Clifton-Brown,28.0,5.0,23.0,NaN,Conservative MP UK,164493.875000,378392.500000,198809.359375,241829.015625,1.0,28.0,UK
1,ACRE (ND),1,0,2014,1914.50,George Rukhadze,33.0,3.0,27.0,NaN,Vice-president ECPM / founder Georgian Strateg...,2514.500000,28310.500000,143904.734375,241829.015625,2.0,33.0,Georgia
2,ACRE (ND),1,1,2014,2000.00,Bendukidze Stichting,20.0,2.0,13.0,NaN,Foundation of Olga Yuriyevna Novikova co-owner...,32100.000000,426397.625000,378524.062500,241829.015625,3.0,20.0,Netherlands
3,ACRE (ND),1,0,2014,4116.00,SIA Contex,16.0,2.0,37.0,24.0,Tabacco products / computer programming,19651.550781,61771.550781,378524.062500,241829.015625,4.0,16.0,Latvia
4,ACRE (ND),1,1,2014,12000.00,Manfred Kastner,1.0,1.0,18.0,7.0,CEO Austrian oilcompany + founder Microfinance...,74000.000000,400097.812500,328750.375000,241829.015625,5.0,1.0,Austria

In [3]:
countries.head()

   CountryID         CountryName
0          1             Austria
1          2             Belgium
2          3            Bulgaria
3          4             Croatia
4          5  Republic of Cyprus

# Country source of money
Here we sum all money coming from a speciffic country and ging to a specific party.

In [4]:
links = all_data.filter(items=['CountryName','party','don'])

links = links.rename(index=str, columns={'CountryName':'source','party':'target','don':'value'})
links = links.groupby(by=['source','target']).sum()

sankeyList = []
for row in links.iterrows():
    d = {
        'source':row[0][0],
        'target':row[0][1],
        'value':row[1][0],
    }
    sankeyList.append(d)

#sankeyList

In [5]:

layout = ipw.Layout(width="1000", height="2500")
sankey = sw.SankeyWidget(links=sankeyList, margins=dict(top=0, bottom=0, left=150, right=100), layout=layout)
sankey

SankeyWidget(layout=Layout(height='2500', width='1000'), links=[{'source': 'Albania', 'target': 'ECPM (SALLUX)…

# Newly politicized money

Here we show all the money that is coming from individuals and companies. Money that is clearly political is removed

1 = individual

2 = company

3 = NGO

4 = government(al organization)

5 = political party / ideological affiliation (e.g. thinktank)

In [6]:
#We want only if the org is 1 or 2
countries_with_only_companies_and_individuals = all_data.query('org < 3').filter(items=['CountryName','party','don'])

countries_with_only_companies_and_individuals = countries_with_only_companies_and_individuals.rename(index=str, columns={'CountryName':'source','party':'target','don':'value'})

countries_with_only_companies_and_individuals = countries_with_only_companies_and_individuals.groupby(by=['source','target']).sum()

sankeyList = []
for row in countries_with_only_companies_and_individuals.iterrows():
    d = {
        'source':row[0][0],
        'target':row[0][1],
        'value':row[1][0],
    }
    sankeyList.append(d)

In [7]:
layout = ipw.Layout(width="1000", height="2500")
sankey = sw.SankeyWidget(links=sankeyList, margins=dict(top=0, bottom=0, left=150, right=100), layout=layout)
sankey

SankeyWidget(layout=Layout(height='2500', width='1000'), links=[{'source': 'Albania', 'target': 'ECPM (SALLUX)…